<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Writing App</title>

        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}"
        />

        <link rel="icon" type="image/x-icon" href="static/images/writing.png">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </head>
    <body>
        <section class="main-section">
            <main class="main-part">
                <div class="first-div">

                    <h1>Writing test</h1>
                    <p>Write whatever comes to you mind without any stop; you lost all of your text once you stop writing</p>

                    <form class="textarea-cls-frm" method="POST" id="textarea-frm-id" action="{{ url_for('start') }}">
                        <div class="second-div-textarea">
                            <textarea id="box" name="note" class="textarea-cls" placeholder="Start typing..." required></textarea>
                            <p id="status">Start typing to begin…</p>
                        </div>
                    </form>

                    <form class="btn-cls-frm" method="POST" id="btn-frm-id" action="{{ url_for('start_btn') }}">
                        <div class="second-div-btn">
                            <button type="submit" id="start-btn-id">Start</button>
                            <p class="initiate-t-cls-p" id="initiate-t-id-p">Timer has begun at {{ now_time }}</p>
                        </div>
                    </form>

                </div>
            </main>
        </section>

    </body>
</html>