<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Writing App</title>

        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}"
        />

        <link rel="icon" type="image/x-icon" href="static/images/writing.png">

    </head>
    <body>
        <section class="main-section">
            <main class="main-part">
                <div class="first-div">
                    <h1>Writing test</h1>
                    <p>Write whatever comes to you mind without any stop; you lost all of your text once you stop writing</p>
                    <div class="second-div-textarea">
                        <textarea class="text-area" placeholder="Start typing..."></textarea>
                    </div>
                </div>
            </main>
        </section>

    </body>
</html>